/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: absolute;
  top: 0;
  margin-left: 280px;
  right: 0;
  background-color: rgba(254, 249, 233);
  height: 100vh;
  overflow: auto;
}

.botaozin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 250px
}


.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: rgba(228, 94, 24);
  background-color: rgba(254, 249, 233);
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: rgba(254, 249, 233);
  background-color: rgba(228, 94, 24);
}

.btn-white {
  color: rgba(228, 94, 24);
  background-color: rgba(254, 249, 233);

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 80% !important;
  height: 80% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.header-left a {
  text-decoration: none;
  color: rgba(254, 249, 233);
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid rgba(228, 94, 24);
  background-color: rgba(254, 249, 233);
}

.header-left h1 {
  color: rgba(228, 94, 24);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: rgba(228, 94, 24);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: rgba(228, 94, 24);
  background-color: rgba(254, 249, 233);
  border: 3px solid rgba(228, 94, 24);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: rgba(228, 94, 24);
  border: 3px solid rgba(254, 249, 233);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: rgba(254, 249, 233);
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgba(228, 94, 24);
  color: rgba(254, 249, 233);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.grafico1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  /* border-color: rgba(228, 94, 24); */
}

.kpis {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.kpi {
  background-color: var(--primary-brand-color);
  border: 1px solid var(--secondary-brand-color);
  padding: 10px 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
}

.kpi h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--secondary-brand-color);
}

.kpi span {
  font-size: 28px;
  color: var(--secondary-brand-color);
  font-weight: bold;
}


/*  VEIO DO DATA VIZ */

:root {
  --primary-brand-color: rgba(228, 94, 24);
  --secondary-brand-color: rgba(254, 249, 233);
  --success: #198754;
  --success-dark: #095c36;
  --success-light: #9dd3ba;
  --warning: #ffc107;
  --warning-dark: #705400;
  --warning-light: #fdebb3;
  --danger: #dc3545;
  --danger-dark: #990c19;
  --danger-light: #f0c1c6;
  --new-gray: #CCCCCC;
  --new-black: #212427;
  --new-white: #E8E8E8;
}

body {
  color: var(--new-black);
  background-color: var(--new-white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  background-color: var(--primary-brand-color);
  color: var(--secondary-brand-color);
  border-color: var(--primary-brand-color);
  padding: 18px 16px;
  font-size: 22px;
  border-radius: 8px;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 8px;
}

.flex-colunar {
  display: flex;
  flex-direction: column;
}

.padding-8 {
  padding: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-success-with-bg {
  color: var(--success-dark);
  background-color: var(--success-light);
}

.text-warning-with-bg {
  color: var(--warning-dark);
  background-color: var(--warning-light);
}

.text-danger-with-bg {
  color: var(--danger-dark);
  background-color: var(--danger-light);
}

.text-new-gray {
  color: var(--new-gray);
}