@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(254, 249, 233),
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-museu: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid rgba(228, 94, 24);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: rgba(228, 94, 24);
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: rgba(228, 94, 24);
}

.titulo {
  color: rgba(228, 94, 24);
  width: fit-content;
  font-weight: 500;
  justify-content: end;
  align-content: center;

}

.header h1 {
  margin: 0;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-left: 50px
}


/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/baixohome.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: rgba(254, 249, 233);
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0;

}

.box a {
  text-decoration: none;
  color: rgba(228, 94, 24);
  font-size: xx-large;
}

.box p {
  color: rgba(228, 94, 24);
  font-size: xx-large;
}


.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOOTER */

.footer {
  background-color: rgba(228, 94, 24);
  height: 80px;
  color: rgba(254, 249, 233);
  display: flex;
  font-size: 15px;
}

.titulo_footer {
  color: rgba(254, 249, 233);
}


.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/baterialogin_cadastro.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: rgba(228, 94, 24);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(254, 249, 233);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid rgba(254, 249, 233);
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid rgba(254, 249, 233);
  background-color: rgba(254, 249, 233);
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(228, 94, 24);
  background-color: rgba(254, 249, 233);
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: rgba(254, 249, 233);
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* MUSEU */
.museu {
  color: rgba(228, 94, 24);
  padding-top: 20px;
}

.museu h1 {
  font-size: 38px;
  margin-bottom: 15px;

}

.museu h2 {
  margin-top: 25px;
  font-size: 28px;
}

.museu .container {
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 35px;

}

.jaco-container1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.jacoimg1 {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.texto-jaco1 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.jacocrianca {
  width: 220px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco2 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container3 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.cochran {
  width: 220px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco3 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container4 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.jacopastoriusalbum {
  width: 1400px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco4 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container5 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.weatherreport {
  width: 250px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco5 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container6 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.bassofdoom {
  width: 250px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco6 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

.jaco-container7 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 25px;
  background-color: rgba(254, 249, 233);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.jacomorte {
  width: 250px;
  border-radius: 15px;
  display: block;
  margin: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.texto-jaco7 h3 {
  font-size: 22px;
  color: rgba(228, 94, 24);
  margin-bottom: 10px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: rgba(254, 249, 233);
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}